.title {
  text-decoration: underline;
  font-size: 24px;
  text-align: center;
}
.container {
  padding: 10px;
  display: flex;
}
.item {
  flex: 1;
}
.table {
  width: 100%;
  border-spacing: 5px;
  text-align: left;
  margin-right: 5px;
  border: 1px solid #c51b29;
}
.button {
  border: none;
  color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #c51b29;
}
.addPizzaBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
